<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs', { currentPage: 'aboutus' }) %>
<style>

.navbar{
  position: relative;
}
@media (max-width: 449px){
  .divCoreMain12 {
    width: auto;
    height: 350px;
    padding: 40px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.companyDiv1Head{
  font-size: 40px;
}
.SecondDivHead{
  font-size: 40px;
}
.secondDivCompany{
  margin-top: 140px !important;
  font-size: 40px;
}
.secondDivCompany{
  margin-top: 180px;
}
}
.pd-0{
  padding-top: 10px;
}
.rd-0{
  border-radius: 0 !important;
}
</style>
<html id="specialID">
<div class="topHeading" >
       
        <h1 class="topHeadText hori">About Us</h1>
       
   
    </div>
   
    <div class="companyDiv1">
      <% for (let image of ba) { %>
        <h2 class="companyDiv1Head">    <%= image.name %></h2>
    </div>
  
        <div class="subDivDiv1">
            <p>
              <%= image.description %>
             </p>
           
            <div class="containerComp">
                <div class="meaow"></div>
                <div class="imageComp"><img src="<%= image.imagePath %>" alt=""></div>
              </div>
        </div>
<% } %>
        <div class=secondDivCompany style="padding: 0; padding-top: 80px;">
            <span >
            <h2 class="SecondDivHead">Group Companies</h2>

        </span>
      </div>

<div class="row" style="height: auto !important;">

  
        <div class="divCoreMain12 ">
            <div class="divCoreValues rd-0">
              <div class="core-discription">
                We are masters in the art of crafting exceptional skincare, haircare, and baby care products. With an unwavering commitment to excellence, our renowned brands, Care and Fresh N Joy, set the gold standard in cosmetics under the umbrella of Beauty Experts.
              </div>
              <img class="core-image" src="/images/beautyexperts.jpg" style="height: 120px; width: auto;" alt="">
              <div class="coreValueLine"></div>
           
            </div>
        </div>
        <div class="divCoreMain12 ">
          <div class="divCoreValues rd-0">
            <div class="core-discription">
              We leverage our expertise to provide top-notch packaging solutions through Coslab. Our range includes PET bottles, jars, and tubes, not only serving our subsidiaries but also catering to esteemed cosmetics brands.
            </div>
            <img class="core-image" src="/images/coslab.jpg" style="height: 100px; width: auto;" alt="">
            <div class="coreValueLine"></div>
         
          </div>
      </div>
      <div class="divCoreMain12 ">
        <div class="divCoreValues rd-0">
          <div class="core-discription">
            Introducing our latest endeavor, Buzzazi—an ethnic wear brand that has carved its niche in the fashion industry. Fusing tradition with style, we redefine fashion trends.
          </div>
          <img class="core-image" src="/images/buzazzi.png" style="height: 50px; width: auto;" alt="">
          <div class="coreValueLine"></div>
       
        </div>
    </div>
   
  

</div>

<div class="row" style="height: auto !important; ">

  
  <div class="divCoreMain12 ">
      <div class="divCoreValues rd-0">
        <div class="core-discription">
          Stepping into the realm of news, we proudly introduce our very own newspaper, "Nida e Iqbal." Get ready to embark on a journey of informed insights and compelling stories with us.
        </div>
        <img class="core-image" src="/images/carepublisher.jpeg" style="height: 70px; width: auto;" alt="">
        <div class="coreValueLine"></div>
     
      </div>
  </div>
  <div class="divCoreMain12 ">
    <div class="divCoreValues rd-0">
      <div class="core-discription">
        The future holds exciting prospects as we prepare to introduce supermarkets to our portfolio of ventures. Stay tuned for updates on this exciting front.
      </div>
      <img class="core-image" src="/images/Auor.jpeg" style="height: 70px; width: auto;" alt="">
      <div class="coreValueLine"></div>
   
    </div>
</div>
<div class="divCoreMain12 ">
  <div class="divCoreValues rd-0">
    <div class="core-discription">
      Our upcoming brand, Dermalab Solutions, is your gateway to niche cosmetic products, specializing in luxurious serums and more. Stay tuned as we redefine skincare excellence.
    </div>
    <img class="core-image" src="/images/darmalab.jpeg" style="height: 85px; width: auto;" alt="">
    <div class="coreValueLine"></div>
 
  </div>
</div>



</div>

        

<%- include('../partials/footer.ejs') %>