<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs', { currentPage: 'aboutus' }) %>
<style>

.navbar{
  position: relative;
}
@media (max-width: 449px){
  .divCoreMain12 {
    width: auto;
    height: 350px;
    padding: 40px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.companyDiv1Head{
  font-size: 40px;
}
.SecondDivHead{
  font-size: 40px;
}
.secondDivCompany{
  margin-top: 140px !important;
  font-size: 40px;
}
.secondDivCompany{
  margin-top: 180px;
}
}
.pd-0{
  padding-top: 10px;
}

</style>
<html id="specialID">
<div class="topHeading" >
       
        <h1 class="topHeadText hori">About Us</h1>
       
   
    </div>
   
    <div class="companyDiv1">
      <% for (let image of ba) { %>
        <h2 class="companyDiv1Head">    <%= image.name %></h2>
    </div>
  
        <div class="subDivDiv1">
            <p>
              <%= image.description %>
             </p>
           
            <div class="containerComp">
                <div class="meaow"></div>
                <div class="imageComp"><img src="<%= image.imagePath %>" alt=""></div>
              </div>
        </div>
<% } %>
        <div class=secondDivCompany style="padding: 0; padding-top: 80px;">
            <span >
            <h2 class="SecondDivHead">Companies</h2>

        </span>
      </div>

<div class="row" style="height: auto !important;">

  
        <div class="divCoreMain12">
            <div class="divCoreValues">
              <div class="core-discription">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit id animi laborum iure adipisci dolorem, dolores ipsa vero. Laborum pariatur quibusdam animi sed. Optio, quos et! Tempora, odio et!
              </div>
              <img class="core-image" src="/images/beautyexperts.jpg" style="height: 120px; width: auto;" alt="">
              <div class="coreValueLine"></div>
           
            </div>
        </div>
        <div class="divCoreMain12">
          <div class="divCoreValues">
            <div class="core-discription">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit id animi laborum iure adipisci dolorem, dolores ipsa vero. Laborum pariatur quibusdam animi sed. Optio, quos et! Tempora, odio et!
            </div>
            <img class="core-image" src="/images/coslab.jpg" style="height: 100px; width: auto;" alt="">
            <div class="coreValueLine"></div>
         
          </div>
      </div>
      <div class="divCoreMain12">
        <div class="divCoreValues">
          <div class="core-discription">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit id animi laborum iure adipisci dolorem, dolores ipsa vero. Laborum pariatur quibusdam animi sed. Optio, quos et! Tempora, odio et!
          </div>
          <img class="core-image" src="/images/buzazzi.png" style="height: 50px; width: auto;" alt="">
          <div class="coreValueLine"></div>
       
        </div>
    </div>
   
  

</div>

<div class="row" style="height: auto !important; ">

  
  <div class="divCoreMain12 pd-0">
      <div class="divCoreValues">
        <div class="core-discription">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit id animi laborum iure adipisci dolorem, dolores ipsa vero. Laborum pariatur quibusdam animi sed. Optio, quos et! Tempora, odio et!
        </div>
        <img class="core-image" src="/images/carepublisher.jpeg" style="height: 70px; width: auto;" alt="">
        <div class="coreValueLine"></div>
     
      </div>
  </div>
  <div class="divCoreMain12  pd-0">
    <div class="divCoreValues">
      <div class="core-discription">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit id animi laborum iure adipisci dolorem, dolores ipsa vero. Laborum pariatur quibusdam animi sed. Optio, quos et! Tempora, odio et!
      </div>
      <img class="core-image" src="/images/Auor.jpeg" style="height: 70px; width: auto;" alt="">
      <div class="coreValueLine"></div>
   
    </div>
</div>
<div class="divCoreMain12 pd-0">
  <div class="divCoreValues">
    <div class="core-discription">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugit id animi laborum iure adipisci dolorem, dolores ipsa vero. Laborum pariatur quibusdam animi sed. Optio, quos et! Tempora, odio et!
    </div>
    <img class="core-image" src="/images/darmalab.jpeg" style="height: 85px; width: auto;" alt="">
    <div class="coreValueLine"></div>
 
  </div>
</div>



</div>

        

<%- include('../partials/footer.ejs') %>