<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs', { currentPage: 'aboutus' }) %>
<style>

.navbar{
  position: relative;
}

</style>
<html id="specialID">
<div class="topHeading" >
       
        <h1 class="topHeadText hori">About Us</h1>
       
   
    </div>
   
    <div class="companyDiv1">
      <% for (let image of ba) { %>
        <h2 class="companyDiv1Head">    <%= image.name %></h2>
    </div>
  
        <div class="subDivDiv1">
            <p>
              <%= image.description %>
             </p>
           
            <div class="containerComp">
                <div class="meaow"></div>
                <div class="imageComp"><img src="<%= image.imagePath %>" alt=""></div>
              </div>
        </div>
<% } %>
        <div class=secondDivCompany style="padding: 50px 0;">
            <span >
            <h2 class="SecondDivHead"></h2>

        </span>
      
        </div>

<%- include('../partials/footer.ejs') %>