<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<style>

.navbar{
  position: relative;
}
</style>
<html id="specialID">
<div class="topHeading">
       
        <h1 class="topHeadText hori">About Company<div class="companyTopDiv"> <p>About  </p> <svg xmlns="http://www.w3.org/2000/svg" width="9" height="28" viewBox="0 0 9 14" fill="none">
            <path d="M0 12.355L5.56275 7L0 1.645L1.71255 0L9 7L1.71255 14L0 12.355Z" fill="black"/>
          </svg><p> Company profile</p></div></h1>
       
   
    </div>
   
    <div class="companyDiv1">
      <% for (let image of ba) { %>
        <h2 class="companyDiv1Head">    <%= image.name %></h2>
    </div>
  
        <div class="subDivDiv1">
            <p>
              <%= image.description %>
             </p>
           
            <div class="containerComp">
                <div class="meaow"></div>
                <div class="imageComp"><img src="<%= image.imagePath %>" alt=""></div>
              </div>
        </div>
<% } %>
        <div class=secondDivCompany>
            <span >
            <h2 class="SecondDivHead">Core Values</h2>

        </span>
      
        </div>

<%- include('../partials/footer.ejs') %>