<%- include('../partials/head.ejs') %>
  <%- include('../partials/navbar.ejs', { currentPage: 'aboutus' }) %>
    <style>
      .navbar {
        position: relative;
      }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="/stylesheets/mg.css">  -->

<style>
     .swiper-slide{
      scale: 0.8;
    }
    .swiper-slide img{
      height: 385px;
    }
  @media (max-width:450px){
    .swiper-slide{
      scale: 0.8;
    }
    .swiperHeading{
      font-size: 35px;

    }
  }
  .t123{
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
   }
   .hq123{
    height: 636px !important;
   }
   .swiperHeading{
    font-family: 'Raleway', sans-serif !important;
   }
</style>
    </head>

    <body style="height: auto !important;">

      <div class="topHeading">

        <h1 class="topHeadText hori">About Us
        </h1>


      </div>


      <!-- Swiper -->
      <h2 class="swiperHeading">Board of Directors</h2>
      <div id="director" class="swiper mySwiper hq123">
        <div class="swiper-wrapper">

          <% directors.map((d)=>{ %>
            <div class="swiper-slide"><img src="<%=d.imagePath %>" alt="">
              <h3>
                <%=d.name%>
              </h3>
              <p class="t123">
                <%=d.description%>
              </p>
              <a href="<%=d.link%>"><i class="fa-brands fa-linkedin-in" style="color: #ce994b;"></i> View bio</a>
            </div>
            <% }) %>




        </div>
        <div class="swiper-pagination" style="z-index: -99;"></div>
      </div>
      <!-- SecondSlider -->
      <h2 class="swiperHeading">Management</h2>
      <div id="managment-1" class="swiper mySwiper">
        <div class="swiper-wrapper">

          <% teams.map((t)=>{ %>
            <div class="swiper-slide"><img src="<%=t.imagePath %>" alt="">
              <h3>
                <%=t.name%>
              </h3>
              <p class="t123">
                <%=t.description%>
              </p>
              <a href="<%=t.link%>"><i class="fa-brands fa-linkedin-in" style="color: #ce994b;"></i> View bio</a>
            </div>
            <% }) %>



        </div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- Herarchiey -->


      
    
   
      
 

      <!-- Swiper JS -->
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<div style="margin-top: 50px;">
  <%- include('../partials/footer.ejs') %>

</div>
      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          spaceBetween: 10,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          breakpoints: {
            640: {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            768: {
              slidesPerView: 4,
              spaceBetween: 40,
            },
            1024: {
              slidesPerView: 4,
              spaceBetween: 50,
            },
          },
        });
      </script>