<%- include('../partials/head.ejs') %>

<%- include('../partials/navbar.ejs') %>
<!-- Navbar End  -->
<div class="herosection">
  <div class="hearo-image">
    <img src="/images/Untitled-5.png" class="css-selector" alt="">

    <!-- <div class="responsive-image"></div> -->
  </div>

  <div class="textheader">
    <p>Unveiling Your Inner Radiance, Naturally.</p>
    <!-- <a class="button-discover" href="">Discover More!</a>  -->
  </div>

  <div class="textheader1">
    <p>C<span class="companynameinside">ARE</span> G<span class="companynameinside">ROUP</span> </p>
    <!-- <a class="button-discover" href="">Discover More!</a>  -->
  </div>
</div>

<div class="row">
  <% for (let image of ChairmanData) {  %>
  <div class="column2">
    <div class="box"><img class="hovereffect" src="<%= image.imagePath %>" alt="<%= image.name %>">
      <div class="overlay">My Name Is <%= image.name %></div>
      <% } %>
    </div>
  </div>
  <div class="column2">
    <% for (let image of ChairmanData) {  %>
    <h1>Chairman's <br> Statement</h1>
      <p>
        <%= image.description %>
      </p> <br> <br>
      <a class="dis" href="">Discover more</a>
      <% } %>
    <center>
      <button class="btnpostion" id="linkId">Discover More!</button>
      <button class="btnpostion" id="linkIdTwo">Hide!</button>
    </center>
  </div>
</div>

<% if(st.length) {%>
<div class="textcenter">
  <% for (let description of st) { %>

  <p class="center-text welcomefont">
    <%= description.description %>
  </p>

  <% } %>
</div>
<% } %>
<div class="w">
    <h1 class="headingtop break">Our Values</h1>
</div>

<div class="row3">
    <div class="column3">
      <% for (let image of ValuesSections) { %>

      <h2><img style="width: 50px; height: 50px;" src="<%= image.imagePath %>" alt="<%= image.imageFilename %>"><span style="padding-left: 20px; padding-top: -50rem;"><%= image.name %></span> </h2>
     
      <div> 
        <%= image.description %>
      </div>
      <% } %>
    </div>
    <div class="column3">
      <% for (let image of MissionData) { %>

      <h2><img style="width: 50px; height: 50px;" src="<%= image.imagePath %>" alt="<%= image.imageFilename %>"><span style="padding-left: 20px; padding-top: -50rem;"><%= image.name %></span> </h2>
     
      <div> 
        <%= image.description %>
      </div>
      <% } %>
    </div>
    <div class="column3">
      <% for (let image of visionSection) { %>

      <h2><img style="width: 50px; height: 50px;" src="<%= image.imagePath %>" alt="<%= image.imageFilename %>"><span style="padding-left: 20px; padding-top: -50rem;"><%= image.name %></span> </h2>
     
      <div> 
        <%= image.description %>
      </div>
      <% } %>
    </div>
    </div>
<div class="w">
    <h1 class="headingtop break">Group of Companies</h1>
</div>
<div id="brands">
  <% if(logoImages.length) {%>
  <% for (let image of logoImages) { %>
  <a style="color: white;" href="<%= image.link %>" target="_blank">
    <img class="img-width" src="<%= image.imagePath %>" alt="<%= image.imageFilename %>">
  </a>
  <% } %>
</div>
<% } %>
</div>



<%- include('../partials/footer.ejs') %>

