<%- include('../partials/head.ejs') %>

<%- include('../partials/navbar.ejs') %>
<!-- Navbar End  -->
<div class="herosection">
  <div class="hearo-image">
    <img src="/images/Untitled-5.png" class="css-selector" alt="">

    <!-- <div class="responsive-image"></div> -->
  </div>

  <div class="textheader">
    <p>Unveiling Your Inner Radiance, Naturally.</p>
    <!-- <a class="button-discover" href="">Discover More!</a>  -->
  </div>

  <div class="textheader1">
    <p>C<span class="companynameinside">ARE</span> G<span class="companynameinside">ROUP</span> </p>
    <!-- <a class="button-discover" href="">Discover More!</a>  -->
  </div>
</div>

<div class="row">
  <% for (let image of ChairmanData) {  %>
  <div class="column2">
    <div class="box"><img class="hovereffect" src="<%= image.imagePath %>" alt="<%= image.name %>">
      <div class="overlay"><%= image.name %></div>
      <% } %>
    </div>
  </div>
  <div class="column2">
    <% for (let image of ChairmanData) {  %>
    <h1>Chairman's <br> Statement</h1>
      <p>
        <%= image.description %>
      </p> <br> <br>
      <a class="dis" href="">Discover more</a>
      <% } %>
    <center>
      <button class="btnpostion" id="linkId">Discover More!</button>
      <button class="btnpostion" id="linkIdTwo">Hide!</button>
    </center>
  </div>
</div>

<% if(st.length) {%>
<div class="textcenter">
  <% for (let description of st) { %>

  <p class="center-text welcomefont">
    <%= description.description %>
  </p>

  <% } %>
</div>
<% } %>
<div class="w">
    <h1 class="headingtop break">Our Values</h1>
</div>

<div class="row3">
    <div class="column3">
      <h2><svg xmlns="http://www.w3.org/2000/svg" width="90" height="81" viewBox="0 0 90 81" fill="none">
        <path d="M50.0937 74.068H48.7884C48.0072 73.9402 47.2162 73.8518 46.4449 73.6847C43.2115 73.0163 40.334 71.542 37.6345 69.7137C37.2093 69.4287 36.9226 69.4189 36.4974 69.7137C34.5098 71.08 32.4135 72.2791 30.1096 72.9966C28.5571 73.4783 26.9355 73.724 25.3435 74.068H24.0382C23.8998 74.0287 23.7614 73.9796 23.6229 73.9599C18.5008 73.3898 15.0597 70.6278 13.1909 65.9296C11.8856 62.6565 11.6977 59.2163 11.9746 55.7467C12.0142 55.2061 11.8757 54.9603 11.411 54.6851C9.641 53.6334 7.82157 52.6112 6.17024 51.3826C3.69819 49.5544 1.73044 47.2642 0.672398 44.3253C0.375752 43.5291 0.217541 42.6838 0 41.8484C0 41.0326 0 40.2168 0 39.4009C0.0395528 39.3125 0.0988821 39.2338 0.10877 39.1454C0.425193 36.924 1.38435 34.9975 2.75881 33.248C5.02321 30.3779 7.95012 28.3334 11.1836 26.7116C11.8065 26.3971 12.0142 26.0826 11.9548 25.3552C11.6977 22.2296 11.9252 19.1334 12.8843 16.1159C14.8521 9.96292 20.3895 6.56207 26.7872 7.56463C30.3074 8.11506 33.4518 9.58942 36.3985 11.5061C36.9028 11.8304 37.239 11.8206 37.7334 11.5061C40.4724 9.71719 43.3993 8.36078 46.6328 7.68258C52.8129 6.38514 58.1723 9.09796 60.6246 14.8774C62.0782 18.2783 62.3847 21.8757 62.1474 25.5223C62.1078 26.1219 62.2858 26.3971 62.8099 26.6527C65.7764 28.1467 68.4857 29.9945 70.7205 32.4813C75.0812 37.3368 75.2591 43.2146 71.1654 48.2864C68.901 51.0877 65.984 53.0633 62.7901 54.6655C62.266 54.9309 62.0979 55.2159 62.1474 55.8155C62.4045 58.9706 62.2265 62.0962 61.2278 65.1236C59.7544 69.5565 56.8473 72.5445 52.2097 73.7043C51.5176 73.8813 50.7957 73.9599 50.0838 74.0778L50.0937 74.068ZM37.0214 55.8843C39.7209 55.668 42.3809 55.4714 45.0507 55.2355C45.2979 55.2159 45.6143 55.0586 45.7626 54.8719C48.9961 50.6356 51.6857 46.0847 53.7325 41.1603C53.8314 40.9244 53.8413 40.5903 53.7424 40.3544C51.7648 35.2924 48.9961 30.6826 45.6538 26.3971C45.5154 26.2202 45.2484 26.0531 45.021 26.0236C39.7011 25.3749 34.3912 25.3847 29.0713 26.0236C28.8637 26.0531 28.6362 26.2103 28.5077 26.3774C25.1754 30.6039 22.4561 35.1941 20.4686 40.1971C20.3697 40.4527 20.3499 40.8163 20.4488 41.0621C22.4561 45.9962 25.0963 50.5766 28.3495 54.8031C28.4978 54.9997 28.7945 55.1766 29.0417 55.1962C31.7016 55.4321 34.3714 55.6484 37.0214 55.8548V55.8843ZM12.4493 30.8791C9.72011 32.3928 7.07007 34.1621 5.38907 37.0125C4.15305 39.1061 3.94539 41.3176 5.01332 43.539C6.60532 46.871 9.54212 48.768 12.5086 50.4291C13.5073 47.2347 14.4862 44.0894 15.4553 40.9441C15.5146 40.7574 15.4948 40.5116 15.4355 40.3249C14.4566 37.1992 13.4677 34.0834 12.4591 30.889L12.4493 30.8791ZM61.475 30.7612C60.8916 34.1719 59.9324 37.327 58.7953 40.433C58.7063 40.6885 58.7656 41.0326 58.8546 41.3078C59.3787 42.9984 59.972 44.6693 60.4664 46.3697C60.8619 47.7163 61.1586 49.0826 61.5145 50.5078C64.2931 48.9744 66.8344 47.274 68.5451 44.6005C69.9788 42.3595 70.2458 39.9907 69.0296 37.5727C67.4277 34.3783 64.5898 32.5108 61.475 30.7612ZM40.8185 66.6569C42.8357 67.9347 45.0606 69.0061 47.5326 69.4484C51.5274 70.1561 54.5829 68.8193 56.3826 65.5757C57.8856 62.8531 58.0339 59.8847 57.9053 57.0441C54.5631 57.7813 51.2605 58.5086 47.9479 59.236C47.7996 59.2655 47.6315 59.3539 47.5227 59.462C45.288 61.8407 43.073 64.2291 40.8086 66.6569H40.8185ZM16.276 56.9261C16.0584 58.9509 16.3452 61.8505 16.9682 63.777C18.0559 67.1189 20.6367 69.3697 23.6921 69.5958C27.3409 69.8612 30.4359 68.3868 33.4815 66.5586C33.2738 66.362 33.1156 66.2146 32.9673 66.0672C31.4445 64.5633 29.7833 63.1774 28.4484 61.5261C27.1234 59.8945 25.6994 58.7347 23.5142 58.7445C23.4944 58.7445 23.4647 58.7347 23.4449 58.7249C21.0718 58.1253 18.6986 57.5257 16.276 56.9163V56.9261ZM33.2145 14.5727C31.6324 13.2557 28.0232 11.801 25.739 11.6142C21.7541 11.2898 18.6393 13.2163 17.1659 16.9121C16.543 18.4847 16.2562 20.136 16.2068 21.8168C16.1771 22.6817 16.2068 23.5467 16.2068 24.392C16.3551 24.4215 16.3749 24.4313 16.4045 24.4313C19.5786 23.6548 22.7528 22.8881 25.9269 22.1018C26.1444 22.0527 26.362 21.8954 26.5103 21.7283C28.745 19.3595 30.9699 16.971 33.2244 14.5629L33.2145 14.5727ZM40.9075 14.5433C43.2115 17.0104 45.4462 19.4283 47.7007 21.8168C47.8589 21.9839 48.1457 22.0723 48.3929 22.1313C50.509 22.6031 52.625 23.0454 54.7312 23.5368C55.7695 23.7826 56.788 24.1364 57.8757 24.4706C57.8955 21.5022 57.6482 18.6813 56.3727 16.0471C55.0773 13.3736 52.9711 11.7911 49.9552 11.5945C46.5042 11.3685 43.6169 12.8625 40.9075 14.5531V14.5433ZM57.4999 28.9035C55.5223 28.3138 53.7029 27.783 51.7845 27.2129C53.2777 29.798 54.662 32.1962 56.1452 34.7813C56.61 32.7467 57.0451 30.889 57.4999 28.9035ZM32.8783 60.0321C32.8486 60.0813 32.8091 60.1304 32.7794 60.1894C34.0649 61.3394 35.3602 62.4796 36.6358 63.6394C36.9522 63.9244 37.1895 63.9048 37.4862 63.6296C38.5245 62.6663 39.5825 61.7326 40.6306 60.7791C40.868 60.5629 41.0756 60.3172 41.3327 60.042H32.8684L32.8783 60.0321ZM56.076 46.6941C54.6027 49.23 53.2282 51.5988 51.745 54.1445C53.604 53.5646 55.3443 53.024 57.0648 52.4539C57.1835 52.4146 57.3318 52.1492 57.3022 52.0214C56.9165 50.2719 56.5111 48.5321 56.076 46.6843V46.6941ZM18.046 34.6142C19.4897 32.1176 20.8641 29.7488 22.3375 27.2129C20.3796 27.8027 18.5799 28.3531 16.6715 28.933C17.1462 30.8792 17.5911 32.7172 18.0559 34.624L18.046 34.6142ZM18.0756 46.7727C17.6208 48.6697 17.1758 50.5176 16.7111 52.4441C18.6393 53.0142 20.4389 53.545 22.3375 54.115C20.8839 51.6185 19.5193 49.2693 18.0756 46.7727ZM41.2734 21.3056C39.7901 19.9099 38.4552 18.6518 37.0511 17.3347C35.6371 18.6715 34.2923 19.9394 32.8486 21.3056H41.2734Z" fill="#CE994B"/>
        <path d="M37.0907 51.9527C34.0254 48.9155 30.9996 45.9864 28.0529 42.9787C25.6303 40.5018 25.5709 36.7274 27.8254 34.2407C30.1492 31.6655 33.9067 31.3018 36.7149 33.3856C36.8138 33.4544 36.9028 33.533 36.883 33.5133C37.9905 33.0514 38.9892 32.4813 40.0572 32.2257C42.8555 31.5574 45.6737 32.8646 47.0778 35.3219C48.4819 37.7792 48.1556 40.8163 46.1483 42.9099C44.1311 45.0035 42.0348 47.0283 39.9682 49.0826C39.0189 50.0262 38.0696 50.9796 37.0808 51.9625L37.0907 51.9527Z" fill="#CE994B"/>
      </svg></h2>
      <div class="overlay3">
        <div class="text">Hello Worl3d</div>
      </div>
    </div>
    <div class="column3">
      <h2 class="hivwe"><svg xmlns="http://www.w3.org/2000/svg" width="73" height="73" viewBox="0 0 73 73" fill="none">
        <g clip-path="url(#clip0_52_2471)">
          <path d="M34.2294 73C32.9438 72.8214 31.6462 72.6965 30.3666 72.4524C17.4034 69.9469 8.16602 62.6743 2.88669 50.587C-3.14258 36.7678 0.511884 20.0681 11.6003 9.86147C17.6295 4.30881 24.7242 1.08314 32.8664 0.202336C37.741 -0.32734 42.5323 0.202335 47.2224 1.63663C48.258 1.95205 48.752 2.67217 48.6568 3.64225C48.5734 4.4695 47.9366 5.14201 47.0736 5.21937C46.7343 5.24913 46.3653 5.16581 46.026 5.07059C35.4198 2.10084 25.5813 3.74938 16.7367 10.3078C9.8266 15.432 5.61266 22.3832 4.16635 30.87C2.47006 40.8207 4.89248 49.7895 11.3086 57.568C16.4094 63.7515 23.01 67.5604 30.932 68.8637C41.5085 70.6016 50.9304 67.8937 58.7631 60.6091C66.9946 52.9556 70.3574 43.3441 69.0241 32.1555C68.8158 30.3998 68.3278 28.6739 67.9111 26.948C67.6135 25.716 68.0421 24.7043 69.0777 24.4127C70.1372 24.1151 71.0537 24.7043 71.4168 25.9243C72.1906 28.5251 72.7024 31.1735 72.881 33.8873C72.8929 34.0956 72.9584 34.3039 72.9941 34.5063V38.4997C72.9524 38.708 72.9048 38.9103 72.875 39.1186C72.631 40.8088 72.4762 42.5109 72.137 44.1833C69.2384 58.5023 57.2156 70.06 42.7822 72.4346C41.455 72.6548 40.1158 72.8095 38.7826 72.994H34.2234L34.2294 73Z" fill="#CE994B"/>
          <path d="M37.2351 61.8471C24.2242 61.8292 13.5703 52.8247 11.5527 40.6601C9.29689 27.0789 18.0581 14.2299 31.4736 11.4565C33.6223 11.0101 35.8007 10.8435 37.991 11.0161C38.4433 11.0518 38.9314 11.2125 39.3123 11.4565C40.0087 11.9028 40.2527 12.8075 39.9849 13.5335C39.7051 14.2953 39.0147 14.7417 38.1279 14.6703C32.7831 14.2477 27.9858 15.7237 23.6767 18.8422C10.7908 28.174 12.2847 48.3017 26.4026 55.6457C39.3599 62.3887 54.7753 55.1994 57.9655 40.91C58.3881 39.0056 58.5905 37.0654 58.3643 35.1074C58.2215 33.8814 58.894 32.9768 60.007 32.8697C61.0546 32.7685 61.9057 33.5303 61.995 34.7325C62.2092 37.5237 62.0069 40.297 61.1915 42.9811C58.037 53.3604 51.0851 59.5379 40.4432 61.5376C39.1873 61.7757 37.8957 61.7816 37.2351 61.8411V61.8471Z" fill="#CE994B"/>
          <path d="M53.5017 25.5375C52.3648 25.5375 51.103 25.234 50.1269 25.6268C49.1746 26.0077 48.4961 27.1027 47.7105 27.8883C44.5203 31.0783 41.3241 34.2682 38.1398 37.4641C37.5863 38.0176 36.9732 38.3747 36.1697 38.1664C34.9139 37.8391 34.3961 36.375 35.1758 35.3335C35.3424 35.1074 35.5567 34.911 35.7591 34.7086C39.5207 30.9473 43.2763 27.1801 47.0498 23.4307C47.395 23.0855 47.5557 22.7463 47.5498 22.2523C47.52 20.4253 47.5498 18.5922 47.5319 16.7651C47.526 16.0093 47.7759 15.4023 48.3235 14.8607C51.8113 11.397 55.2813 7.90944 58.7572 4.43977C59.5012 3.69584 60.2392 3.49945 60.9951 3.83868C61.8522 4.22552 62.0962 4.93969 62.0843 5.8205C62.0664 7.29049 62.1021 8.76644 62.0664 10.2364C62.0545 10.778 62.1914 10.9863 62.7747 10.9685C64.2686 10.9268 65.7685 10.9685 67.2624 10.9506C68.1493 10.9387 68.8695 11.2184 69.2087 12.0873C69.542 12.9384 69.2444 13.6406 68.6135 14.2715C65.1138 17.759 61.62 21.2525 58.1382 24.7519C57.6144 25.2757 57.0192 25.5137 56.2871 25.5018C55.3587 25.484 54.4361 25.5018 53.5076 25.5018C53.5076 25.5197 53.5076 25.5375 53.5076 25.5554L53.5017 25.5375ZM63.1556 14.5691C62.12 14.5691 61.3165 14.575 60.5189 14.5691C59.156 14.5572 58.4655 13.8609 58.4536 12.5039C58.4536 11.6886 58.4536 10.8732 58.4536 10.0162C58.3048 10.0758 58.2572 10.0817 58.2275 10.1115C55.9598 12.373 53.6862 14.6405 51.4244 16.908C51.3173 17.0151 51.1983 17.1817 51.1983 17.3246C51.1804 18.8124 51.1864 20.3003 51.1864 21.8357C52.6267 21.8357 53.9778 21.8655 55.3229 21.8179C55.6562 21.806 56.055 21.6334 56.2931 21.4013C57.6977 20.0503 59.0607 18.6577 60.4356 17.2829C61.2867 16.4319 62.1438 15.5749 63.1556 14.5691Z" fill="#CE994B"/>
          <path d="M36.5982 50.9202C29.0869 50.9024 22.8255 45.1771 22.1411 37.6962C21.4507 30.2093 26.6229 23.4307 34.0687 22.0857C34.7889 21.9547 35.5269 21.8774 36.259 21.8476C37.5446 21.7941 38.3838 22.4904 38.4433 23.5735C38.4969 24.6805 37.6874 25.4482 36.3542 25.4839C34.0984 25.5434 32.0688 26.2338 30.2416 27.5431C26.5574 30.1855 24.9147 34.8753 26.1169 39.2852C27.2895 43.6 31.0927 46.7959 35.5447 47.2185C41.8597 47.8136 47.2402 43.1299 47.514 36.7976C47.5735 35.3692 48.252 34.5539 49.371 34.5658C50.4364 34.5777 51.222 35.4168 51.1685 36.6131C50.9125 42.3264 48.2699 46.5876 43.2465 49.3193C41.1871 50.4382 38.9433 50.9262 36.5982 50.9083V50.9202Z" fill="#CE994B"/>
        </g>
        <defs>
          <clipPath id="clip0_52_2471">
            <rect width="73" height="73" fill="white"/>
          </clipPath>
        </defs>
      </svg></h2><div class="overlay3">
        <div class="text">Hello Worl2d</div>
      </div>
    </div>
    <div class="column3">
      <h2><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
        <path d="M0.00221411 69.0015V66.782H2.19466V57.8107C2.06596 57.753 1.94169 57.6997 1.82186 57.6465C0.201931 56.914 -0.44604 55.2494 0.321761 53.6514C1.17389 51.8758 2.06152 50.1179 2.95803 48.3689C3.49948 47.3125 4.39599 46.7398 5.59429 46.7487C6.76152 46.7576 7.64028 47.3213 8.16842 48.3512C9.06937 50.1002 9.957 51.858 10.8091 53.6336C11.6302 55.3559 10.9156 56.9185 8.93622 57.8196V66.7331H16.6409V41.1023C16.5343 41.0579 16.4101 41.0046 16.2858 40.9469C14.6703 40.2189 14.0223 38.5498 14.7857 36.9518C15.6378 35.1762 16.5255 33.4184 17.422 31.6694C17.9679 30.6129 18.8644 30.0403 20.0582 30.0536C21.2255 30.0625 22.0998 30.6262 22.6324 31.6605C23.5333 33.4095 24.4209 35.1673 25.2731 36.9429C26.0941 38.6608 25.384 40.2145 23.4002 41.1289V66.7376H29.9953V48.8972C29.8888 48.8484 29.7645 48.7951 29.6402 48.7418C28.0247 48.0138 27.3768 46.3448 28.1446 44.7467C28.9967 42.9711 29.8843 41.2177 30.7808 39.4643C31.309 38.43 32.1833 37.8618 33.3505 37.8485C34.5488 37.8352 35.4498 38.3989 35.9912 39.4554C36.8922 41.2044 37.7798 42.9622 38.6319 44.7378C39.453 46.4557 38.7429 48.0049 36.7546 48.9238V66.7376H46.7404V65.9519C46.7404 60.412 46.7316 54.8677 46.7582 49.3278C46.7582 48.9016 46.9313 48.4311 47.1487 48.0582C47.6103 47.2592 48.1562 46.5046 48.6977 45.6922C47.992 44.8044 47.3085 43.9033 46.5762 43.0421C45.1294 41.342 44.4326 39.3933 44.5125 37.156C44.5435 36.2993 44.437 35.4292 44.5347 34.5858C44.8098 32.1266 43.9488 29.9914 42.7727 27.9273C42.36 27.2037 42.1603 26.4313 42.3822 25.5924C42.7372 24.2651 43.8556 23.3862 45.227 23.3729C46.3809 23.364 47.1887 23.6348 48.9107 24.6291V17.5666C48.1296 17.3891 47.3085 17.1849 46.4786 17.0295C46.3543 17.0073 46.1546 17.1716 46.0525 17.3003C43.1145 20.9181 40.1897 24.5448 37.2472 28.1537C36.972 28.491 37.083 28.6952 37.2517 28.9971C38.2103 30.7106 37.9795 32.7125 36.6747 34.1597C35.4364 35.5313 33.426 35.9885 31.7084 35.2827C29.9686 34.5681 28.8502 32.8191 28.9479 30.9369C28.9612 30.6839 28.9567 30.3998 29.0721 30.1912C29.5204 29.3877 29.0766 28.9705 28.4863 28.5132C27.4211 27.692 26.4092 26.8042 25.3751 25.9475C25.3396 25.9209 25.2953 25.9031 25.2021 25.8587C23.9771 26.8974 22.5525 27.5766 20.9237 27.7719C19.286 27.9672 17.7504 27.6254 16.2281 26.8397C14.0756 29.6541 11.9275 32.464 9.78391 35.265C11.9009 37.924 11.395 41.2443 9.18476 43.1664C7.15652 44.9287 4.20959 44.9687 2.08371 43.2818C0.0155286 41.6394 -0.592499 38.7274 0.63687 36.3792C2.00382 33.769 4.54689 32.9123 8.01308 33.9111C10.1434 31.1278 12.2826 28.3312 14.4528 25.4903C12.8196 23.6836 12.0119 21.5751 12.2959 19.1292C12.5134 17.2426 13.33 15.6312 14.728 14.3395C17.4885 11.787 21.5628 11.5562 24.5807 13.7136C27.1105 15.5247 29.1609 19.5731 26.6933 24.1319C28.0469 25.2594 29.4139 26.4003 30.7808 27.5411C32.0945 26.6932 33.4526 26.4669 34.9216 26.9773C35.0636 27.0262 35.3388 26.9507 35.432 26.8353C38.2724 23.3462 41.0951 19.8483 43.9178 16.3503C43.9444 16.3193 43.9399 16.2616 43.9178 16.3548C42.2091 15.3072 40.5181 14.3173 38.8805 13.2475C38.1304 12.7548 37.4558 12.1333 36.7901 11.5251C35.2101 10.078 35.2012 7.73867 36.7679 6.29155C41.3525 2.05229 46.7316 -0.171653 52.9982 0.0103469C58.2574 0.165712 62.8776 2.04341 66.8941 5.4437C67.8083 6.21609 68.6472 7.01511 69.0067 8.19588V9.5853C68.6338 10.2112 68.3764 10.9614 67.8661 11.4452C65.1055 14.0731 61.9189 15.9952 58.2042 16.9718C57.3654 17.1938 56.5132 17.3713 55.6833 17.5711V20.2656C59.0297 21.1045 62.3361 21.9968 65.6736 22.7514C67.3379 23.1287 68.5185 23.91 69.0111 25.5835V38.6608C68.5939 41.5684 66.4947 43.486 64.8304 45.6789C65.3541 46.469 65.9044 47.2192 66.3615 48.0183C66.5879 48.4133 66.7654 48.9061 66.7654 49.3544C66.792 54.8943 66.7831 60.4342 66.7831 65.9741V66.7642H69.0067V68.9882H0.00221411V69.0015ZM48.9684 34.466C48.9684 33.5515 48.9684 32.717 48.9684 31.8825C48.9684 31.0257 48.9817 30.1646 48.9639 29.3078C48.9284 27.6077 47.7967 26.1428 46.1857 25.7344C45.6841 25.6057 45.1161 25.3615 44.69 25.8631C44.2506 26.3825 44.7299 26.8175 44.9341 27.257C45.5909 28.6819 46.5496 30.0092 46.6339 31.6294C46.7404 33.6181 46.7271 35.6112 46.7404 37.6043C46.7493 38.9804 47.1665 40.1967 48.0231 41.2665C48.7731 42.2076 49.5098 43.1664 50.2954 44.0764C50.4862 44.2984 50.8546 44.4937 51.1431 44.4981C54.8978 44.5248 58.6524 44.5248 62.4071 44.4981C62.6778 44.4981 63.024 44.3161 63.2015 44.1075C64.0137 43.1575 64.7815 42.1676 65.5582 41.1866C66.2816 40.2722 66.7432 39.2201 66.7521 38.0571C66.7876 34.1375 66.7698 30.2223 66.7698 26.3026C66.7698 25.6945 66.4725 25.295 65.8777 25.1352C65.4561 25.0242 65.0345 24.9265 64.533 24.8022V34.4482H62.3139V24.234C61.5683 24.052 60.8626 23.8834 60.0727 23.6925V34.4438H57.8536V23.1154C57.1124 22.9378 56.4067 22.7692 55.6123 22.5783V34.4615H53.4243V33.6003C53.4243 26.3204 53.4243 19.0404 53.4243 11.7604C53.4243 11.5296 53.4376 11.2943 53.4154 11.0635C53.3533 10.4465 52.9006 10.0203 52.3192 10.0159C51.7422 10.0159 51.2762 10.4376 51.2096 11.0502C51.183 11.281 51.2008 11.5118 51.2008 11.7471C51.2008 19.0493 51.2008 26.3559 51.2008 33.6581V34.4704H48.9773L48.9684 34.466ZM64.5463 66.7509V65.9164C64.5463 61.1888 64.4753 56.4613 64.5818 51.7382C64.6217 50.0025 64.2845 48.5287 63.166 47.2059C62.9042 46.8952 62.6867 46.7309 62.2651 46.7354C59.114 46.7531 55.9585 46.8464 52.8163 46.7043C51.2141 46.6288 50.1578 47.0195 49.4699 48.5021C49.2036 49.0747 48.9506 49.5808 48.9506 50.2378C48.9728 55.4714 48.9639 60.7094 48.9639 65.943V66.7553H64.5419L64.5463 66.7509ZM18.9443 38.9494V66.7198H21.1678V38.9494C21.4385 38.9494 21.6604 38.9494 21.8868 38.9494C22.1175 38.9494 22.3528 38.9627 22.5835 38.9494C23.2581 38.905 23.5378 38.4699 23.2404 37.8574C22.4193 36.175 21.5805 34.497 20.7284 32.828C20.3689 32.1266 19.7121 32.1088 19.357 32.7924C18.4916 34.4793 17.6439 36.1794 16.8184 37.8884C16.5255 38.4921 16.8273 38.9227 17.5152 38.9494C17.9501 38.9671 18.3895 38.9494 18.9443 38.9494ZM32.2987 46.7398V66.7198H34.5222V46.7398C35.0015 46.7398 35.4364 46.7531 35.8669 46.7398C36.6303 46.7132 36.9055 46.2737 36.5637 45.5812C35.7471 43.9211 34.9216 42.2653 34.0784 40.6184C33.7189 39.9171 33.062 39.8993 32.707 40.5829C31.8415 42.2697 30.9939 43.9699 30.1684 45.6789C29.8754 46.2826 30.1728 46.7132 30.8651 46.7398C31.3001 46.7576 31.7395 46.7398 32.2942 46.7398H32.2987ZM14.4706 20.0037C14.4617 23.0755 16.9604 25.5879 20.0272 25.5924C23.0629 25.5924 25.5704 23.1154 25.5971 20.088C25.6237 17.0118 23.1383 14.486 20.076 14.4682C17.0048 14.4505 14.4839 16.9407 14.475 20.0081L14.4706 20.0037ZM55.6434 13.2342C57.4408 12.1377 58.2929 9.49208 57.6184 7.28589C56.8727 4.83999 54.6137 3.24195 52.044 3.33961C49.5986 3.43282 47.4062 5.2617 46.8824 7.64989C46.4076 9.82056 47.3485 12.3774 48.9639 13.2031C48.9639 12.5372 48.9595 11.8936 48.9639 11.2499C48.9817 9.28788 50.4152 7.79637 52.2792 7.7875C54.1788 7.77862 55.6212 9.27456 55.6389 11.2766C55.6434 11.9158 55.6389 12.555 55.6389 13.2342H55.6434ZM4.48475 55.6445V66.742H6.68608V55.6445C7.19203 55.6445 7.62697 55.6578 8.0619 55.6445C8.7942 55.6178 9.08712 55.1873 8.77201 54.5436C7.95095 52.8612 7.11658 51.1833 6.26001 49.5142C5.90496 48.8173 5.24368 48.804 4.89306 49.4876C4.02762 51.1744 3.17993 52.8745 2.35444 54.5791C2.06152 55.1828 2.36331 55.609 3.05567 55.64C3.4906 55.6578 3.92998 55.64 4.48475 55.64V55.6445ZM57.4674 2.97561C59.1628 4.61804 60.1037 6.57565 60.0948 8.92832C60.086 11.2766 59.1096 13.2075 57.4009 14.8011C57.4763 14.8366 57.503 14.8588 57.5207 14.8544C60.9203 13.9755 63.8184 12.2132 66.3571 9.82944C66.9562 9.26569 66.9385 8.49774 66.326 7.92954C65.7135 7.36135 65.0744 6.82423 64.4132 6.31818C62.3317 4.72902 60.0238 3.59707 57.4674 2.97561ZM47.2908 2.89127C43.7136 3.81902 40.7933 5.57687 38.2458 7.98281C37.6555 8.54213 37.6999 9.31008 38.3168 9.88271C38.8938 10.4154 39.5018 10.9214 40.1276 11.4009C42.2357 13.0344 44.5746 14.2019 47.2419 14.8944C43.1899 10.9703 44.1086 5.75443 47.2952 2.89127H47.2908ZM8.90515 38.9804C8.91847 37.1604 7.445 35.6423 5.63423 35.6112C3.78352 35.5802 2.24792 37.0717 2.23017 38.9138C2.21685 40.7605 3.72583 42.2831 5.56766 42.2831C7.38287 42.2831 8.8874 40.7915 8.90072 38.976L8.90515 38.9804ZM35.614 31.1678C35.6184 29.9604 34.6287 28.9483 33.4215 28.9305C32.2099 28.9172 31.1936 29.8982 31.1714 31.1056C31.1492 32.3441 32.1655 33.3784 33.3993 33.3784C34.6065 33.3784 35.6095 32.3752 35.6184 31.1678H35.614Z" fill="#CE994B"/>
        <path d="M23.3735 20.0036C23.3823 21.8502 21.8689 23.3684 20.0227 23.3595C18.2075 23.3506 16.7118 21.8591 16.7029 20.0436C16.694 18.1969 18.2075 16.6788 20.0537 16.6877C21.8734 16.6921 23.3646 18.188 23.3735 20.0036ZM20.0315 21.1311C20.6307 21.1311 21.1411 20.6339 21.1455 20.0302C21.15 19.4265 20.6484 18.9205 20.0449 18.916C19.4413 18.916 18.9353 19.4132 18.9309 20.0169C18.9309 20.6206 19.4279 21.1267 20.0315 21.1311Z" fill="#CE994B"/>
      </svg></h2>     <div class="overlay3">
        <div class="text">Hello Worl1d</div>
      </div>
    </div>
  </div>
<% if(visionSection.length) {%>
    
<div class="row rowtop">
  <div class="column2-right width-40">
    <% for (let image of visionSection) { %>

    <h1 class="headingtop">
      <%= image.name %>
    </h1>
    <div class="toGiveScroll text-left">
      <p class="ourvision">
        <%= image.description %>
      </p>
    </div>


  </div>
  <div class="column2"> <img class="nocolor" src="<%= image.imagePath %>" alt="<%= image.name %>"> </div>
  <% } %>
</div>
<% } %>
<div class="w">
    <h1 class="headingtop break">Group of Companies</h1>
</div>
<% if(ValuesSections.length) {%>

<div class="row rowtop-1">
  <div class="column2-right width-40" style="background-color: #f3f4f6;">
    <% for (let image of ValuesSections) { %>
    <h1 class="headingtop">
      <%= image.name %>
    </h1>


    <div class="toGiveScroll hoiyan w-value">
      <p class="values">
        <%= image.description %>
      </p>
    </div>
    <center>
      <button class="btnpostion" id="linkId1">Discover More!</button>
      <button class="btnpostion" id="linkIdTwo1">Hide!</button>
    </center>


  </div>
  <div class="column2">
    <img class="lady" src="<%= image.imagePath %>" alt="<%= image.name %>">
  </div>
  <% } %>

</div>
<% } %>

<div id="brands">
  <% if(logoImages.length) {%>
  <% for (let image of logoImages) { %>
  <a style="color: white;" href="<%= image.link %>" target="_blank">
    <img class="img-width" src="<%= image.imagePath %>" alt="<%= image.imageFilename %>">
  </a>
  <% } %>
</div>
<% } %>
</div>



<%- include('../partials/footer.ejs') %>

