<%- include('../partials/head.ejs') %>
<div class="index-nav" id="index-navbar">
  
<%- include('../partials/navbar.ejs') %>

</div>
<!-- Navbar End  -->
<div class="herosection">
  <div class="hearo-image">
    <img src="/images/Untitled-5.png" class="css-selector" alt=""> 

    <!-- <div class="responsive-image"></div> -->
  </div>

  <div class="textheader">
    <p>Unveiling Your Inner Radiance, Naturally.</p>
    <!-- <a class="button-discover" href="">Discover More!</a>  -->
  </div>

  <!--  -->
</div>

<div class="row">
  <% for (let image of ChairmanData) {  %>
  <div class="column2">
    <div class="box"><img  class="hovereffect" src="<%= image.imagePath %>" alt="<%= image.name %>">
      <div class="overlay"><%= image.name %></div>
      <% } %>
    </div>
  </div>
  <div class="column2">
    <% for (let image of ChairmanData) {  %>
    <h1>Chairman's <br> Statement</h1>
    <div id="toGiveScroll" class="toGiveScroll">
      <p>
        <%= image.description %>
      </p>  <button id="hidebtn" onclick="hidedes()" class="hideme">Hide</button>
    
    </div>  
    <button id="dis" onclick="showdes()" class="showdis1">Discover More</button>
      <!-- <a class="dis" id="dis" onclick="showdes()" >Discover more</a> -->
      <% } %>
    <center>
      <button class="btnpostion" onclick="mobile_show()" id="linkId">Discover More!</button>
      <button class="btnpostion" onclick="mobile_hide()" id="linkIdTwo">Hide!</button>
    </center>
  </div>
</div>
<% if(visionSection.length) {%>
  <% for (let vision of visionSection) { %>
<div class="row rowtop" >

  <div class="column2">
      <h1>OUR VISION</h1>



      <div id="toGiveScroll" class="toGiveScroll">
        <p>
          <%= vision.description %>
      
      </div>  
      <!-- <p class="colorgrey">Our mission is to consistently offer superior products and services that exceed
          customer expectations. We
          are committed to cultivating a supportive and enriching work environment that empowers our employees.
          Upholding a strong ethical foundation, we conduct our business processes with integrity and
          transparency.</p> -->


  </div>
  <div class="column2"><img src="<%=vision.imagePath %>" alt=""></div>

</div>
<% } %>
<% } %>

<% if(st.length) {%>
  <% for (let description of st) { %>
<div class="row rowtop row-reverse" >

  <div class="column2">
      <h1>OUR Mission</h1>



   
      <div id="toGiveScroll" class="toGiveScroll22">
        <p>
          <%= description.description %> </p>
      
      </div>  


  </div>
  <div class="column2"><img src="/images/mission.png" alt=""></div>

</div>
<% } %>
<% } %>
<div class=secondDivCompany>
  <span >
  <h2 class="SecondDivHead">Core Values</h2>

</span>
<div class="divCoreMain">
<% for (let images of ce) { %>

  <div class="divCoreValues">
    <div class="core-discription">
   <%= images.description %>

     </div>
     <img class="core-image" src="<%= images.imagePath %>" alt="">
      <div class="coreValueLine"></div>
       <p class="coreValueTextMain">  <%= images.name %></p>
    
  </div>
  <% } %>

</div>
</div>

<div class="w">
    <h1 class="headingtop break">Group of Companies</h1>
</div>
<div id="brands">

  <% if(logoImages.length) {%>
  <% for (let image of logoImages) { %>
  <a style="color: white;" href="<%= image.link %>" target="_blank">
    <img class="img-width" src="<%= image.imagePath %>" alt="<%= image.imageFilename %>">
  </a>
  <% } %>
</div>
<% } %>
</div>



<%- include('../partials/footer.ejs') %>

<script>
  function showdes(){
    let myshow = document.getElementById("toGiveScroll");
    let showmy = document.getElementById("dis");
    let hidemy = document.getElementById("hidebtn");
    showmy.style.display="none";
    hidemy.style.display="block";
    myshow.style.height = "auto";
  }
  function hidedes(){
    let myshow = document.getElementById("toGiveScroll");
    let showmy = document.getElementById("dis");
    let hidemy = document.getElementById("hidebtn");
    showmy.style.display="block";
    hidemy.style.display="none";
    myshow.style.height = "450px";
  }
  
  function mobile_show(){
    let myshow = document.getElementById("toGiveScroll");
    let showmy = document.getElementById("linkId");
    let hidemy = document.getElementById("linkIdTwo");
    myshow.style.height = "auto"; 
    hidemy.style.display = "block";
    showmy.style.display = "none";
}
  function mobile_hide(){
    let myshow = document.getElementById("toGiveScroll");
    let showmy = document.getElementById("linkId");
    let hidemy = document.getElementById("linkIdTwo");
    myshow.style.height = "450px"; 
    hidemy.style.display = "none";
    showmy.style.display = "block";
}
</script>