<%- include('../partials/head.ejs') %>
<style>
.navbar{
    position: relative;
}
</style>
<%- include('../partials/navbar.ejs', { currentPage: 'aboutus' }) %>
<div class="topHeading" style="background-color: white;">
    <h1 class="topHeadText hori">The Care Group</h1>
</div>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      font-family: 'Raleway', sans-serif !important;

      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
      background: rgb(255,255,255) !important;
background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(206,153,75,1) 70%) !important;
    }

    .swiper-slide {
      text-align: center !important;
      align-items: center !important;
      font-size: 18px;
      color: #000000;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
      background: rgb(255,255,255) !important;
background: linear-gradient(90deg, rgba(255,255,255,1) 75%, rgba(206,153,75,1) 75%) !important;
    }

    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .mydiv1{
  position: relative !important;
  font-family: 'Times New Roman', Times, serif !important;
  text-align: left !important;
padding-left: 100px !important;
padding-right: 110px;
justify-content: center !important;
align-items: center !important;
}

    .swiper-slide .title { 
      
      font-size: 180px !important;
      font-weight: 600 !important;
    }
 

    .swiper-slide .subtitle {
      font-size: 60px !important;
      font-weight: 500 !important;
    }
    .swiper-slide .text {

      width: 80%;
      padding-top: 50px;
      font-size: 25px !important;
      font-weight: 500 !important;
    }
    .swiper-pagination-bullet{
      width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,25px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px)) !important;
    border-radius: var(--swiper-pagination-bullet-border-radius,30%) !important;
    }
    .black-text{
      
      font-family: 'Times New Roman', Times, serif !important;

      color: #000;
    }
    .different-color-text{
      font-family: 'Times New Roman', Times, serif !important;

      margin-left: -45px !important;
      color: rgba(206,153,75);
    }
    .swiper-pagination{
      padding-bottom: 50px !important; 
      padding-right: 45rem !important;
    }
    @media (max-width:1353px){
      .swiper-pagination{
      padding-bottom: 80px !important; 
      padding-right: 40rem !important;
    }
    }
    @media (max-width:1081px){
      .swiper-pagination{
      padding-bottom: 60px !important; 
      padding-right: 25rem !important;
    }
  }
  
  @media (max-width:802px){
    .swiper-slide .title { 
      
      font-size: 160px !important;
      font-weight: 600 !important;
    }
 
      .swiper-pagination{
      padding-bottom: 50px !important; 
      padding-right: 20rem !important;
    }
    .swiper-slide .text {

width: 80%;
padding-top: 50px;
font-size: 20px !important;
font-weight: 500 !important;
}
  }
   @media (max-width:702px){
      .swiper-pagination{
      padding-bottom: 10px !important; 
      padding-right: 10rem !important;
    }
    .swiper-slide .text {

width: 80%;
padding-top: 30px;
font-size: 17px !important;
font-weight: 500 !important;
}
.swiper-slide .title { 
      
      font-size: 150px !important;
      font-weight: 600 !important;
    }
 

    .swiper-slide .subtitle {
      font-size: 40px !important;
      font-weight: 500 !important;
    }
    .swiper {
      height: 83%;
    }
  }
  @media (max-width:649px){
      .swiper-pagination{
      padding-bottom: 10px !important; 
      padding-right: 10rem !important;
    }
    .swiper-slide .text {

width: 80%;
padding-top: 30px;
font-size: 17px !important;
font-weight: 500 !important;
}
.swiper-slide .title { 
      
      font-size: 110px !important;
      font-weight: 600 !important;
    }
 

    .swiper-slide .subtitle {
      font-size: 40px !important;
      font-weight: 500 !important;
    }
    .swiper {
      height: 83%;
    }
  }
  .different-color-text{
      margin-left: -30px !important;
      color: rgba(206,153,75);
    }
    @media (max-width:571px){
      .swiper-pagination{
      padding-bottom: 10px !important; 
      padding-right: 10rem !important;
    }
    .swiper-slide .text {

width: 90%;
padding-top: 30px;
font-size: 17px !important;
font-weight: 500 !important;
}
.swiper-slide .title { 
      
      font-size: 80px !important;
      font-weight: 600 !important;
    }
 

    .swiper-slide .subtitle {
      font-size: 30px !important;
      font-weight: 500 !important;
    }
    .swiper {
      height: 70%;
    }
    .different-color-text{
      margin-left: -20px !important;
      color: rgba(206,153,75);
    } .mydiv1{
  position: relative !important;
  font-family: 'Raleway', sans-serif !important;

  text-align: left !important;
padding-left: 20px !important;
padding-right: 110px;
justify-content: center !important;
align-items: center !important;
}

  }
  @media (max-width:498px){
    .swiper-pagination-bullet{
      width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,18px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,5px)) !important;
    border-radius: var(--swiper-pagination-bullet-border-radius,30%) !important;
    }
    
    .swiper-slide .text {

width: 120%;
padding-top: 30px;
font-size: 16px !important;
font-weight: 500 !important;
}
.swiper-slide .title { 
      
      font-size: 80px !important;
      font-weight: 600 !important;
    }
 

    .swiper-slide .subtitle {
      font-size: 20px !important;
      font-weight: 500 !important;
    }
  }
  @media (max-width:437px){
    .swiper-slide .title { 
      
      font-size: 60px !important;
      font-weight: 600 !important;
    }
    .different-color-text{
      margin-left: -10px !important;
      color: rgba(206,153,75);
    }
    .swiper-pagination{
      padding-bottom: 0 !important; 
      padding-right: 0 !important;
    }
  }
  @media (max-width:385px){
    .swiper-slide .title { 
      
      font-size: 45px !important;
      font-weight: 600 !important;
    }
    .different-color-text{
      margin-left: -10px !important;
      color: rgba(206,153,75);
    }
    .swiper-slide .text {

width: 140%;
padding-top: 30px;
font-size: 15px !important;
font-weight: 500 !important;
}
.swiper-pagination-bullet{
      width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,9px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,3px)) !important;
    border-radius: var(--swiper-pagination-bullet-border-radius,30%) !important;
    }
    .swiper{
      height: 85%;
    }
    .swiper-pagination{
      padding-bottom: 0 !important; 
      padding-right: 0 !important;
    }

  }
  </style>
</head>

<body>
  <!-- Swiper -->

  <div style="--swiper-navigation-color: #000000; --swiper-pagination-color: rgba(206,153,75,1)" class="swiper mySwiper">
    <div class="parallax-bg" style="
          background: rgb(255,255,255) !important;
background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(206,153,75,1) 70%) !important;
        " data-swiper-parallax="-23%"></div>
    <div class="swiper-wrapper">
      <% for (let image of story) { %>
      <div class="swiper-slide">
        <div class="mydiv1">
          <div class="title" data-swiper-parallax="-300"><span class="black-text"><%=image.date.slice(0,2)%></span>
            <span class="different-color-text"><%=image.date.slice(2)%></span>
        </div>
          <div class="subtitle" data-swiper-parallax="-200">Company Founded</div>
          <div class="text" data-swiper-parallax="-100">
            <p>
              <%=image.description %>
            </p>
          </div>
    
        </div>
            </div>
      <% } %>
    
   
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      speed: 600,
      parallax: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>

</html>


      <%- include('../partials/footer.ejs') %>