<%- include('../partials/head.ejs') %>
<style>
.navbar{
    position: relative;
}
</style>
<%- include('../partials/navbar.ejs') %>
<div class="topHeading">
    <h1 class="topHeadText hori">Care Group<div class="companyTopDiv"> <p>About  </p> <svg xmlns="http://www.w3.org/2000/svg" width="8" height="28" viewBox="0 0 9 14" fill="none">
        <path d="M0 12.355L5.56275 7L0 1.645L1.71255 0L9 7L1.71255 14L0 12.355Z" fill="black"/>
      </svg><p> Our Story</p></div></h1>
</div>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
      background: rgb(255,255,255) !important;
background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(206,153,75,1) 70%) !important;
    }

    .swiper-slide {
      text-align: center !important;
      align-items: center !important;
      font-size: 18px;
      color: #000000;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
      background: rgb(255,255,255) !important;
background: linear-gradient(90deg, rgba(255,255,255,1) 75%, rgba(206,153,75,1) 75%) !important;
    }

    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 130%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .mydiv1{
  position: relative !important;
      font-family: 'Open Sans', sans-serif !important;
text-align: left !important;
padding-left: 100px !important;
padding-right: 110px;
justify-content: center !important;
align-items: center !important;
}

    .swiper-slide .title { 
      
      font-family: 'Open Sans', sans-serif !important;
    
      margin-right: 45rem;
      font-size: 180px !important;
      font-weight: 600 !important;
    }
    .title p {
      

  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(206,153,75,1) 50%) !important;
  -webkit-background-clip: text !important; /* For webkit-based browsers */
  background-clip: text !important;
  color: transparent !important; /* Set text color to transparent to show the gradient through the text */
}

    .swiper-slide .subtitle {
      font-size: 60px !important;
      font-weight: 500 !important;
    }
    .swiper-slide .text {
      width: 80%;
      padding-top: 50px;
      font-size: 25px !important;
      font-weight: 500 !important;
    }
    .swiper-pagination-bullet{
      width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,25px)) !important;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px)) !important;
    border-radius: var(--swiper-pagination-bullet-border-radius,30%) !important;
    }
  </style>
</head>

<body>
  <!-- Swiper -->

  <div style="--swiper-navigation-color: #000000; --swiper-pagination-color: rgba(206,153,75,1)" class="swiper mySwiper">
    <div class="parallax-bg" style="
          background: rgb(255,255,255) !important;
background: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(206,153,75,1) 70%) !important;
        " data-swiper-parallax="-23%"></div>
    <div class="swiper-wrapper">
      <% for (let image of story) { %>
      <div class="swiper-slide">
        <div class="mydiv1">
          <div class="title" data-swiper-parallax="-300"><p><%=image.date%></p></div>
          <div class="subtitle" data-swiper-parallax="-200">Company Founded</div>
          <div class="text" data-swiper-parallax="-100">
            <p>
              <%=image.description %>
            </p>
          </div>
    
        </div>
            </div>
      <% } %>
    
   
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination" style="padding-bottom: 50px; padding-right: 45rem;"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      speed: 600,
      parallax: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>

</html>


      <%- include('../partials/footer.ejs') %>