<!-- Navbar Start  -->
<style>
  /* Reset styles for margin, padding, and list style */
  nav,
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Main navigation styles */
  nav ul {
    background-color: #f1f1f100;
    padding: 10px;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul li a {
    text-align: center !important;
    display: block;
    padding: 8px 12px;
    border-bottom: 3px solid transparent;
    color: rgb(255, 255, 255); /* Default text color */
    text-decoration: none; /* Remove underlines */
  }
  
  /* Hover effect for anchor tags */
  nav ul li a:hover {
    /* Change color and scale on hover */
    color: #D0A25C; /* Change text color on hover */
    transform: scale(1.1);
  }
  nav ul li a:hover .svg-fill{
    /* Change color and scale on hover */
    fill: #D0A25C; /* Change text color on hover */
    transform: scale(1.1);
  }
  /* Hide submenus by default */
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -20%;
    background: #d7b467;
    /* border-radius: 20px; */
    /* box-shadow: 1px 1px 6px #D0A25C; */
  }
  nav ul li a:active,
nav ul li a:focus {
  outline: none !important; /* Remove the default focus outline */
  border-bottom: 3px solid transparent !important; /* Remove the border on click */
}
.logo a:active,
.logo a:focus {
  outline: none !important; /* Remove the default focus outline */
  border-bottom: 3px solid transparent !important; /* Remove the border on click */
}
  /* Show submenu on parent hover */
  nav ul li:hover>ul {
    display: block;
  }
  
  /* Adjust submenu styles */
  nav ul ul li {
    width: 230px;
    margin: 0 20px;
  }
  
  nav ul ul li a {
    color: rgba(255, 255, 255, 0.858);
    font-weight: 600;
    font-size: 16px;
    text-align: left !important;
    margin-left: 12px !important;
    padding: 8px 10px;
  }
  nav ul li a:active{
    border: none !important;
  }
  
  /* Add hover effect to submenu items */
  nav ul ul li:hover>ul {
    display: block;
    width: 200px;
    left: 100%;
    top: 0;
  }/* Existing CSS *//* Mobile responsive styles */
/* Mobile responsive styles */
.svg-fill{
  fill: white;
}
.active2{
  fill: #ce994b !important;
}
@media (max-width: 768px) {
  .main-menu{
    text-align: left !important;
  }
  .main-menu ul {
    
    text-align: left !important;
    background-color: transparent;
    width: auto;
    position: static;
 
    display: none;
  }

  .main-menu.active ul {
    display: block;
  }

  .main-menu ul li {
    
    text-align: left !important;
    border-bottom: solid 1px rgb(255, 255, 255);
    width: 100%;
    text-align: left;
  }

  .main-menu ul li a {
    width: 100%;
  }

  .submenu1.active,
  .submenu2.active,
  .submenu3.active {
    display: block;
  }
}

  
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <div class="navbar">
      <div class="logo">
        <a href="/"><img src="/images/logow.png" id="logo_image" style="width: 230px;" alt=""></a>
    
      </div>
      <nav>
        <ul>
          <li><a id="homeLink" class="<%= (currentPage === 'home') ? 'active1' : '' %>" href="/">Home</a></li>
          <li>
            <a href="#" class="<%= (currentPage === 'aboutus') ? 'active1' : '' %>"  >About us <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" >
                <path d="M1.645 0L7 5.56275L12.355 0L14 1.71255L7 9L0 1.71255L1.645 0Z" id="svg1" class="<%= (currentPage === 'aboutus') ? 'active2' : '' %> svg-fill"/>
              </svg></a>
            <ul class="xenter">
              <li><a  href="/ourstory">Our Story</a></li>
              <li><a href="/companyprofile">Company profile</a></li>
              <li>
                <a href="/corporategovernance">Corporate Governance<i style="padding-left: 15px; font-size: 12px;" class="fas fa-chevron-right"></i></a>
                <ul>
                  <li><a href="/corporategovernance#director-1">Directors</a></li>
                  <li><a href="/corporategovernance#managment-1">Management</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="<%= (currentPage === 'sustainability') ? 'active1' : '' %>">Sustainability <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" >
                <path d="M1.645 0L7 5.56275L12.355 0L14 1.71255L7 9L0 1.71255L1.645 0Z" id="svg2"  class="<%= (currentPage === 'sustainability') ? 'active2' : '' %> svg-fill" />
              </svg></a>
            <ul>
              <li><a href="/sustainability">Sustainability at Care Group</a></li>
              <li><a href="/sustainability#policy">Policies</a></li>
            
            </ul>
          </li>
    
          <li><a id="groupCompaniesLink" class="<%= (currentPage === 'home1') ? 'active1' : '' %>" href="/#groupcompani">Group Companies</a></li>
          <li><a class="<%= (currentPage === 'careers') ? 'active1' : '' %>" href="/career">Careers</a></li>
          <li><a class="<%= (currentPage === 'contactus') ? 'active1' : '' %>" href="/contactus">Contact Us</a></li>
    
        </ul>
      </nav>
      <!-- dropdownBurger -->
      <div class="dropDownBurger" id="burdermenu">
        <ul class="main-menu">
          <li><a href="/">Home</a></li>
          <li>
            <a onclick="showabout()">About us <i class="fas fa-chevron-down" style="margin-left: 5px;"></i></a>
            <ul class="submenu2" id="submenu2"> <!-- Add unique class -->
              <li><a href="/ourstory">Our Story</a></li>
              <li><a href="/companyprofile">Company profile</a></li>
              <li>
                <a  href="/corporategovernance">Corporate Governance</a><a style="margin-left: 10px;"><i onclick="copabout()" class="fas fa-chevron-down"></i></a>
                <ul class="submenu3" id="submenu3"> <!-- Add unique class -->
                  <li><a href="/corporategovernance#director-1">Directors</a></li>
                  <li style="border-bottom: none;"><a href="/corporategovernance#managment-1">Management</a></li>
                </ul>
              </li>
            </ul>
          
          </li>
          <li>
            <a onclick="susabout()">Sustainability <i class="fas fa-chevron-down" style="margin-left: 5px;"></i></a>
            <ul class="submenu1" id="submenu1"> <!-- Add unique class -->
              <li><a href="/sustainability">Sustainability at Care Group</a></li>
              <li><a href="/sustainability#policy">Policies</a></li>
        
            </ul>
          </li>
          <li><a href="/#brands">Group Companies</a></li>
          <li><a href="/career">Careers</a></li>
          <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </div>
      
      <!-- dropdownBurgerEnd -->
      <button id="burgerbtn" class="burgerbtn" onclick="showburger()"><i class="fa fa-bars"></i></button>
      <button id="closebtn" class="closebtn" onclick="closeburger()"><i class="fa fa-close"></i></button>
    
    </div>
 
  <script>
document.addEventListener('DOMContentLoaded', function () {
  // Get references to the "Home" and "Group Companies" links
  const homeLink = document.getElementById('homeLink');
  const groupCompaniesLink = document.getElementById('groupCompaniesLink');

  // Add a click event listener to the "Group Companies" link
  groupCompaniesLink.addEventListener('click', function (e) {
    // Prevent the default behavior of the link
    e.preventDefault();

    // Remove the "active1" class from the "Home" link
    homeLink.classList.remove('active1');

    // Add the "active1" class to the "Group Companies" link
    groupCompaniesLink.classList.add('active1');

    // Navigate to the "Group Companies" section
    window.location.href = "/#groupcompani";
  });
});
</script>
<script>
function showabout() {
  let v = document.getElementById("submenu2");
  
  // Check the current display property
  if (v.style.display === "block") {
    v.style.display = "none";
  } else {
    v.style.display = "block";
  }
}
function susabout() {
  let c = document.getElementById("submenu1");
  
  // Check the current display property
  if (c.style.display === "block") {
    c.style.display = "none";
  } else {
    c.style.display = "block";
  }
}
function copabout() {
  let z = document.getElementById("submenu3");
  
  // Check the current display property
  if (z.style.display === "block") {
    z.style.display = "none";
  } else {
    z.style.display = "block";
  }
}




</script>

    